<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMS_Web_App_Version</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMS_Web_App_Version.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <div class="container"><a class="navbar-brand fw-bold" asp-controller="Students" asp-action="Index">🎓 Student Management</a></div>
            <a class="btn btn-outline-warning text-white m-1" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            <a class="btn btn-outline-danger text-white" asp-controller="Students" asp-action="Index">Students</a>

        </nav>

    </header>
    
    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted mt-auto mb-auto">
        <div class="container">
            &copy; 2026 - SMS_Web_App_Version 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
